.intro {
  height: 100vh;
  width: 100%;
  background: $red;
  display: table;
  .n-i-box {
    display: table-cell;
    vertical-align: middle;
  }
  .n-i-title {
    color: $orange;
    font-size: 50px;
  }

  .n-i-subtitle {
    color: $orange;
    font-size: 25px;
  }
}