---
title: Welcome to Middleman
---

<div class="row welcome">
  <%= image_tag("../images/logo.png", class:"logo") %>
</div>

<div class="row">
  <h1 class="columns small-centered">coming soon</h1>
</div>